<ion-tabs >
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="comic-list">
            <!--a tab tem que coincidir com as definições de rotas-->
            <ion-label color="tertiary">Quadrinhos</ion-label>
            <ion-icon name="book-outline" color="tertiary"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="new">
            <ion-label color="tertiary">Adicionar</ion-label>
            <ion-icon name="add-circle-outline" color="tertiary"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
